In [1]:
import sys
sys.path.insert(0, './modules')
from helpers import read_in_dataset, preprocess, apply_scaler

In [2]:
train = read_in_dataset('data/train.csv', verbose = True)
test = read_in_dataset('data/test.csv',verbose = True)

*********************Reading in the data/train.csv dataset**********************

it has 891 rows and 12 columns

*************************it has the following columns
**************************
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

************************the first 5 rows looks like this************************

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

**********************Reading in the data/test.csv dataset**********************

it has 418 rows and 11 columns

*************************it has the following columns
**************************
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

************************the first 5 rows looks like this************************

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [3]:
#based on EDA, the following variables should be included as features
#Pclass, name_title_adv, Sex, Age, Sibsp, Parch, Fare, Embarked, cabin_total, cabin_firstletter, ticket_firstletter
train = preprocess(train,train)
test = preprocess(test,train)

imputing Embarked using mode from the training set......

2 Embarked imputed with S

No NaN in norm_Fare


imputing Age using aggregated info baesd on name_title_adv from the training set.......

filled 1 title Dr with age value 42.0
filled 4 title Master with age value 4.574166666666667
filled 36 title Miss with age value 21.773972602739725
filled 119 title Mr with age value 32.368090452261306
filled 17 title Mrs with age value 35.898148148148145

No NaN in Embarked


imputing norm_Fare using median from the training set......

1 norm_Fare imputed


replaced 1 Dona with Mr

imputing Age using aggregated info baesd on name_title_adv from the training set.......

filled 4 title Master with age value 4.574166666666667
filled 14 title Miss with age value 21.773972602739743
filled 57 title Mr with age value 32.36809045226126
filled 10 title Mrs with age value 35.898148148148145
filled 1 title title_survive with age value 32.857142857142854

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
Survived              891 non-null int64
Pclass                891 non-null object
Sex                   891 non-null object
Age                   891 non-null float64
SibSp                 891 non-null int64
Parch                 891 non-null int64
Embarked              891 non-null object
norm_Fare             891 non-null float64
name_title_adv        891 non-null object
Ticket_firstletter    891 non-null object
Cabin_firstletter     891 non-null object
Cabin_total           891 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
Pclass                418 non-null object
Sex                   418 non-null object
Age                   418 non-null float64
SibSp                 418 non-null int64
Parch                 418 non-null int64
Embarked              418 non-null object
norm_Fare             418 non-null float64
name_title_adv        418 non-null object
Ticket_firstletter    418 non-null object
Cabin_firstletter     418 non-null object
Cabin_total           418 non-null int64
dtypes: float64(2), int64(3), object(6)
memory usage: 36.0+ KB

In [6]:
import pandas as pd
import numpy as np

In [7]:
#merge train and test to create a consistent dummy-variable set across train and test
test['Survived'] = np.nan
train['train_test'] = 'train'
test['train_test'] = 'test'
all_data = train.append(test, sort = True)
all_dummies = pd.get_dummies(all_data)
X_train = all_dummies[all_dummies['train_test_train']==1].drop(columns = 
                                                               ['Survived','train_test_test','train_test_train'])
Y_train = all_dummies.loc[all_dummies['train_test_train']==1, 'Survived']
X_test = all_dummies[all_dummies['train_test_test']==1].drop(columns = 
                                                             ['Survived','train_test_test','train_test_train'])

In [8]:
#scale the numeric variables in both train and test, fit to train only
both = apply_scaler(X_train, X_test)
X_train_scaled = both[0]
X_test_scaled = both[1]

The following columns are scaled:

['Age', 'Cabin_total', 'Parch', 'SibSp', 'norm_Fare']

In [9]:
X_train_scaled.to_csv('X_train.csv',index = False)
Y_train.to_csv('Y_train.csv',index = False, header = False)
X_test_scaled.to_csv('X_test.csv',index = False)